<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>We talk - 우리들의 이야기</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"crossorigin="anonymous">
</head>
<style>
	.section {
		margin: 20px;
		
	}
	
	.article {
		box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
		border: 1px solid lightgray;
		border-radius: 10px;
		padding: 20px;
	}
	
	.article > .form-control {
		margin-bottom: 20px;
	}
	
	.inputArea {
		pointer-events : none;
	}
	
	.btn-area {
		display: flex;
		justify-content: flex-end;
	}
	
	.btn-area > button,
	.btn-area > a {
		margin: auto 3px;
	}
</style>
<body>
	<!-- 공통 header -->
	<th:block th:include="include/header"></th:block>
	
	<div class="section"> <!-- header.html 공통 css  -->
		<div class="container"> <!-- header.html 공통 css 적용 -->
			<div class="article">
				
			 	작성자<input class="form-control inputArea" th:name="bwriter" th:value = "${selectOne.bwriter}" readonly="readonly">
				제목<input class="form-control inputArea" name="btitle" th:value = "${selectOne.btitle}" readonly="readonly">
				본문<textarea class="form-control inputArea" th:text="${selectOne.bcontent}" name="bcontent" rows="20" style="resize: none;"></textarea>
				<div class="btn-area">
					<!-- 다른 유저의 게시글을 선택했을때 -->
					<th:block th:if="${selectOne.bwriter != session.sessionId}">
						<button class="btn btn-outline-secondary cancel">취소</button>
					</th:block>
					
					<!-- 내가 작성한 게시글을 선택했을때 -->
					<th:block th:if="${selectOne.bwriter == session.sessionId}">
						<button class="btn btn-outline-secondary cancel">취소</button>
						<a th:href="@{/user/update/{bid} (bid = ${selectOne.bid})}" class="btn btn-outline-success updateBtn" type="button">수정</a>
						<a class="btn btn-outline-danger deleteBtn" type="button">삭제</a>
					</th:block>
					
				</div>
			</div>
			
		</div>
	</div>

<script th:inline="javascript">

	let bid = /*[[${selectOne.bid}]]*/{};
	
	const cancelBtn = document.querySelector('.cancel'); // 뒤로가기 버튼
	const deleteBtn = document.querySelector('.deleteBtn'); // 삭제버튼
	
	// 뒤로가기 처리 
	cancelBtn.addEventListener('click',function() {
		history.back();
	});
	
	// 삭제 처리
	deleteBtn.addEventListener('click',function(event){
		
		let alert = confirm("게시글을 삭제하시겠습니까?");
        if(alert == true){
			location.href="/delete/" +bid;
        }else{
			// 취소
        }
	});
	

</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"crossorigin="anonymous"></script>

</body>
</html>