<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>We talk - 우리들의 이야기</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<style>
	.aticle {
		display: flex;
		justify-content: center;
		height: 100%;
		align-items: center;
	}
	
	form {
		display: flex;
		justify-content: center;
	}

	.registerArea {
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 50%;
		margin: 50px 0px; 
	}
	
	.registerArea > p {
		font-size: 50px;
		display: flex;
		justify-content: center;
	}
	
	
	.idCheck {
		display: flex;
		flex-direction: column;
		height: 38px;
	}
	
	.pwCheck {
		margin-top: 30px;
		margin-bottom: 20px;
	}
	
	
	
	
</style>

<body>
	<!-- 공통 header -->
	<th:block th:include="include/header"></th:block>
	
	<div class="aticle">
		<div class="container">
			<form action="/registerPro" method="post">
				<div class="registerArea col-md-4">
					<p>회원가입</p>
					<div class="idCheck">
						<div class="idCheckShow">아이디를 입력해주세요. 최대 10글자</div>
						<input class="form-control idArea" maxlength="10" placeholder="아이디 입력" name="act_id">
					</div>
					<div class="pwCheck">
						<div class="pwCheckShow">비밀번호를 입력해주세요. 최대 10글자</div>
						<input type="password" class="form-control pwArea" maxlength="10" placeholder="비밀번호 입력" name="act_pw" style="margin-bottom: 10px;">
						<input type="password" class="form-control pwArea2" maxlength="10" placeholder="비밀번호 확인">
					</div>
					<input type="submit" value="회원가입" class="registerBtn btn btn-primary"> 
					
				</div>
			</form>
		</div>
	</div>
	
	<script>
		
		let id = $('.idArea').val();			
		
		$('.btn').click(function(){
			
		})
		// id의 value가 '' 일 때 disabled 걸어주기
		if(id == '') {
			document.querySelector('.registerBtn').setAttribute('disabled',true);
		}
		
		// 버튼 클릭시 아이디 유효성 검사 진행
		$('.registerBtn').click(function(){
			let blank_pattern = /^\s+|\s+$/g;
			if(id.replace(blank_pattern, '' ) == "" ){
			    alert('공백만 입력되었습니다.');
			    return false;
			}

			//문자열에 공백이 있는 경우
			let blank_pattern1 = /[\s]/g;
			if( blank_pattern1.test(id) == true){
			    alert('공백이 입력되었습니다.');
			    return false;
			}

			//특수문자가 있는 경우
			let special_pattern = /[`~!@#$%^&*|\\\'\";:\/?]/gi;
			if(special_pattern.test(id) == true){
			    alert('특수문자가 입력되었습니다.');
			    return false;
			}

			//공백 혹은 특수문자가 있는 경우
			if(id.search(/\W|\s/g) > -1){
			    alert( '특수문자 또는 공백이 입력되었습니다.');
			    return false;
			}
			
			if($('.pwArea').val() != $('.pwArea2').val()) {
				alert('비밀번호를 확인해주세요');
				return false;
			}
			
		});
	
			
			// 초기값 설정해주기 
			$('.idArea').keyup(function(){
				
				id = $('.idArea').val();
				
				$.ajax({
					type:"post", 
					url: "/checkId", // 매핑값
					dataType : "text",
					data: {
						act_id : id
					}, 
					
					success: function(result){ // AjaxController에서 맨 마지막 메소드 return 넘겨준걸 data 로 받음
						if(result === "YES"){ // 중복 X 회원가입 가능 
							if(id != ''){ // idArea의 value가 공백일 경우 
								$('.idCheckShow').text("아이디를 입력해주세요. 최대 10글자");	
								$('.idCheckShow').css("color","black");
								document.querySelector('.registerBtn').removeAttribute("disabled");	
							}
						} else { // 중복! 회원가입 불가능
							$('.idCheckShow').text("아이디 중복");
							$('.idCheckShow').css("color","red");
							document.querySelector('.registerBtn').setAttribute('disabled',true);
						}
					}
				});
			}); // keyup 이벤트 종료

			 
			
				 
				 
				 
				 
				 
				 
				
				 
				 
				 
				 
				 
				 
				 
				 
				 
				 
				 
				 
				 
				 
				 
				 
				 
	
		 
		
		
		
		
		
		
		
		
		
		
	</script>
</body>
</html>